<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Microfrontends Homepage</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.2.0/custom-elements-es5-adapter.js"></script>
    <link rel="import" href="header" async/>
    <link rel="import" href="cart" async/>
    <link rel="import" href="products" async/>
</head>

<body>
    <microfrontends-header></microfrontends-header>
    <microfrontends-cart></microfrontends-cart>
    <microfrontends-products-list></microfrontends-products-list>
</body>

</html>